*.egg-info
.gitignore
.gitattributes
build
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/__pycache__/*
.dockerignore

# Package   
.env
data
logs
venv
*/config/config_pilot.yaml
*/config/config_terminal.yaml