# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/*
*.py[cod]
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# #git
# .gitignore
build
.vscode/
*/config/controller.yaml
*/config/rig.yaml

# Package
data
logs
.env
.venv

.pre-commit-config.yaml
commitlint.config.js
node_modules/
ruff.toml

start.bat
start.sh
