old_codes
neurpi_new
protocols_new
tests
start_new.bat
# Added by cargo

/target
*__pycache__
*.py[cod]
logs
examples
.venv
# .gitignore






# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/*
*.py[cod]
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# #git
# .gitignore
# .gitattributes
# #docker
# .dockerignore
#jupyter
*/.ipynb_checkpoints/*
.ipynb_checkpoints
build
.vscode/

# Package
data
logs
.env
venv
.venv
*/config/config_pilot.yaml
*/config/config_terminal.yaml

.pre-commit-config.yaml
/commitlint.config.js
node_modules/
ruff.toml

start.bat
start.sh
__main__.py
