pygame~=2.1.2
hydra-core~=1.2.0
numpy
scipy
pyserial
omegaconf
setuptools
tables
rich
blosc
blosc2
numpy
zmq
tornado
pandas
pigpio

# Citcuitpython libraries
# adafruit-circuitpython-mpr121
# adafruit-circuitpython-debouncer
# adafruit-circuitpython-busdevice
# board
# busio