numpy~=1.23.0
scipy~=1.8.1
pyserial~=3.5
pygame~=2.1.2
omegaconf~=2.2.2
setuptools~=60.2.0
tables~=3.7.0
hydra-core~=1.2.0
tables
rich
blosc
numpy
zmq
tornado
pandas
# GUI
pyqtgraph~=0.11.0
pyqt5-tools~=5.15.1.2
pyqt5-plugins~=5.15.1.1
opencv-python~=4.4.0.46
# pyqtgraph
# opencv-python
# matplotlib
# ffmpeg 
# libsm6 
# libxext6
# PyQt5